fastapi
uvicorn
langchain
langchain-chroma
langchain-groq
langchain-community
langchain-huggingface
sentence-transformers
chromadb
pypdf
PyMuPDF==1.26.4
python-dotenv
python-multipart
langchain-experimental
sqlalchemy
alembic
psycopg[binary]
psycopg2-binary
firebase-admin
cloudinary
websockets
pandas
google-genai

langchain-google-genai
